<footer class="footer mt-auto py-3">
    <div class="container text-center py-2">
      <span class="image"><%=image_tag("logocine5.jpg",  alt: "Logo")%></span>
      <span class="image"><%=image_tag("logocine3.jpg",  alt: "Logo")%></span>
      <span class="image"><%=image_tag("logocine7.jpg",  alt: "Logo")%></span>  
      <span class="image"><%=image_tag("logocine4.jpg",  alt: "Logo")%></span>
      <span class="image"><%=image_tag("logocine6.jpg",  alt: "Logo")%></span>
      <span class="image"><%=image_tag("logocine8.jpg",  alt: "Logo")%></span>
      
    </div>
  </footer>