<!DOCTYPE html>
<html>
  <head>
    <title>CinePlanet</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('logocine2.jpg') %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
  <%= render 'welcome/header' %>
  <%= render 'welcome/navbar' %>

    <%= yield %> 

  <hr>
  <%= render 'welcome/footer' %>
  </body>
</html>
